
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Open Sans', sans-serif;
  }
.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.header{
    width: 100%;
    height: auto;
    background-color: #1f2732;
}
.icon{
    position: absolute;
}
.header .container .icon ul{
    display: flex;
    list-style: none;
}
  .header .container .nav{ 
        font-size: 11px;
        padding-right: 0px;
}  
.logo{
    position: absolute;
    top:25%;
    left: 6%;
}
  .nav {
    float: right;
    margin: 0;
    font-size: 10px;
    /* width: 100%; */

}
.nav-item{
    float: left;
    list-style-type:symbols(cricle-white);
}
.nav li {
    float: left;
    list-style-type:symbols(cricle-white);

}
 .dichvu .bathanhdoc{
   margin-top: 57px;
}
.chuot{
    margin-top: 50px;
    margin-bottom: 8px;
    display: inline-block;
}
ul {
    list-style-image:url('./png/daucham.PNG');
    
}

.header .container .nav a {
    
    display: block;
    line-height: 62px;
    color:#fff;
    display: block; 
    line-height: 37px;
   padding: 0 36px 0 0px; 
}
.hero .logobytesoft {
    background-image:url('./png/background_hero.PNG');
    background-size: cover ;  
        background-position: center;
        background-repeat: no-repeat;
        
}
.hero .logobytesoft .container ul a{
 
   
    color:#fff;
    display: inline-block; 
    line-height: 37px;
   padding: 0 40px 0 5px; 
}
nav #icon{
    color:white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-right: 40px;
}
.hero .logobytesoft .container ul{
    margin: 37px -10px 42px 0;
     font-size: 15px;
     display: inline-block;
}
.hero .logobytesoft .container ul a:hover{
    color: yellow;
    text-decoration-line: underline;
    list-style: none;
}
.dichvu h1{
    font-size: 33px;
    margin: 8px 17px 25px 0;
}
.text_english{
    text-align: initial;
    font-size: 14px;
}
.dichvu .textp p{
    
    font-size: 16px;
}
a {
    text-decoration: none;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
.hero {
    width: 100%;
    height: auto;
    position:relative;
    background-image: url(./png/backgroundtrongsuot.png);
    background-position: center;
    background-repeat: no-repeat;
     background-size: 100%;
     clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0);
    /* background-image: linear-gradient( to right, rgba(68, 182, 58, 0.8), rgba(50, 204, 208, 0.8)),
                  url("./png/herobackground.png"); */
  /* background-image: url("./png/herobackground.png"), linear-gradient(#eb01a5 0%, #d13531 50%); */
}
.middle {    
    text-align: center;
    background-color: linear-gradient(to right #3baf39, #30ccd5);
    /* background-image: url(./png/thanhcheo1.PNG);
    background-repeat: no-repeat;
    background-position: center;
  
     background-size: cover; */
}
.middle{
    align-items: center;
}
.middle .container a{
    display:inline-block;
    margin: auto;
    color: white;
    font-size: 13px;
    padding: 11px;
    width: 188px;
    background-image: linear-gradient( #086b26, #0cb04f);
    border: none;
}
.middle .container p{
    font-size: 44px;
    font-weight: bold;
    /* margin: 143px; */
    color: white;
    margin-top: 11%;
}
.middle .container h1{
    font-size: 89px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 47px;
}
.dichvu{
    text-align: center;
    /* background-image: url('./png/background_container3.png'); */
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
}
.section-dichvu{    
    background-image: url(./png/background_container3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(50% 3%, 100% 0, 100% 94%, 0 87%, 0 0);
    margin-top: -29px;  
    
}
.btn-green{
    width: 100px;
    padding: 5px;
    border-radius: 25px;
    border: 2px solid red;
    background-color: #0a8b39;
}
.albumandtext{
    position: relative;
    width: 100%;
    height: 750px;
}
.album{
    width: 44%;
    height: 440px;
    grid-gap: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-71%);
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 160px 160px;
    background-color: #fff;
    padding: 45px;
    left: 5%;
    z-index: 2;

}
.bathanhdocdichvu{
    margin-top: 9%;
    margin-left: -34%;
    position: absolute;
}
.text_album{
    width: 57%;
    position: absolute;
    border: 2px dotted #0F1C3F; 
    top: 5%;
    right: 3%;
    height: 66%;
   display: block;
}
.lil_image1 {
    background-image: url(./png/imgandcircle2.PNG);
    border: 1px solid #0F1C3F;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 87px;
    background-position-y: 22px;
}

.lil_image2 {
    background-image: url(./png/imgandcircle1.PNG);
    border: 1px solid #0F1C3F;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 87px;
    background-position-y: 22px;
}

.lil_image3 {
    background-image: url(./png/imgandcircle3.PNG);
    border: 1px solid #0F1C3F;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 87px;
    background-position-y: 22px;
}

.lil_image4 {
    background-image: url(./png/imgandcircle4.PNG);
    border: 1px solid #0F1C3F;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 87px;
    background-position-y: 22px;
}

.lil_image2 p {
    margin-top: 8px;    
    font-weight: bold;
    font-size: 14px;
    /* margin: 63px 0 0 0; */
    transform: translateY(116px);
}
.lil_image3 p {
    margin-top: 8px;    
    font-weight: bold;
    font-size: 14px;
    /* margin: 63px 0 0 0; */
    transform: translateY(116px);
}
.lil_image4 p {
    margin-top: 8px;    
    font-weight: bold;
    font-size: 14px;
    /* margin: 63px 0 0 0; */
    transform: translateY(116px);
}
.icon_albumandtext{
  /* border-radius:50% ;
  border: 2px dotted green;
  padding:25px;
  margin-top: 20px; */
}
.lil_image1 p {
    margin-top: 8px;    
    font-weight: bold;
    font-size: 14px;
    /* margin: 63px 0 0 0; */
    transform: translateY(116px);
}
.horse{
    position: absolute;
    top: 38%;
    left: 55%;
    width: 40%;
       
}
.text_padding{
    
    margin-left: 20%;
    margin-top: 5%;
}
.albumandtext h1{
    font-size: 30px;
    text-align: initial;
}
.hero .container ul{
    margin:10px;
}
.slick-center{
    transform: scale(1.25);
    
}
.chooseBS{
    position: relative;
    text-align: center;
    /* background-color: #45bd75; */
}
.left{
    width: 30%;
    position: absolute;
    left: 6%;
    top:31%;
}
.right{
    width: 30%;
    position: absolute;
    right: 6%;
    top: 30%;
    
}
.ip1{
    width: 15%;
}
.iconleft{
    top: -5%;
    margin-left: 7%;    
    position: absolute;
}
.textleft
{
    text-align: end;
    color: white;
    margin-bottom: 5%;
    font-size: 16px;
    transform: translate(-60px, 0px);
}
.iconright{
    top: -5%;
    margin-left: -8%;    
    position: absolute;    
    transform: translate(-33px, -3px);
}
.textright{
    color: white;
    text-align: start;
    margin-bottom: 5%;
    font-size: 16px;
    transform: translate(63px, 10px);
    /* transform: translate(-60px, 0pxtranslate(62px, 7px); */
}
.container5{
    position: relative;
    text-align: center;
}
/* .ipad1{
    width: 37%;
    position: relative;
    z-index: 3;
    transform: translate(-1px, 5px);
}
.ipad2{
    left: 3%;
    bottom: 0;
    position: absolute;
    z-index: 1;
    width: 32%;
}
.ipad3{
    position: absolute;
    left: 65%;
    bottom: 0;
    width: 32%;
}
.anhipad2{
    position: absolute;
    bottom: 0;
    width: 30%;
    z-index: 2;
    transform: translate(-36px, 0px);
}
.anhipad1{
    bottom: 0;
    position: absolute;
    z-index: 2;
    width: 30%;
    transform: translate(-728px,1px);
} */
.makebetter{
    text-align: center;
    
    color: white;
    width: 100%;
    margin: 0;
}
.better{
    background-color: black;
}
p{
    margin: 0%;
}
.ykien{
    width: 100%;
    text-align: center;
    position: relative;
    
     color: white;
     align-items: center;
     padding: 5%;
}
.comment{
    background-image: url('./png/background_container7.PNG');
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
}

.imgkh{
     position: absolute;
    /* top: 0;
    transform: translateX(-5%);
    left: 1px;  */
    transform: translate(454px,-42px);
    z-index: 2;

}
.imgkh img{
    width: 92%;
}
.content-comment{
    /* transform: translate(408px, -104px); */
    /* background-image: url(./png/layerden.png);
    position: absolute; */
   
    transform: translate(230px, 8px);
    background-image: url(./png/layerden.png);
    position: relative;
    width: 549px;
    /* height: 500px; */
    padding-top: 1px;
    margin-bottom: -38px;
    /* height: 500px; */
}
.content-comment p{
    margin-top: 13%;
    font-size: 13px;
    text-align: revert;
}

.imgblack{
    position: relative;
    transform: translateX(229px);
    z-index: 1;
}
.item-slider .imgblack img{
    width: 555px;
} 
.tintuc{ 
    text-align: center;
    width: 100%;

}
.imagetintuc {
    position: relative;
    display: flex;
    width: 94%;
    gap: 30px;
    transform: translate(37px, -15px);
}
.imgandtext
{
    position: relative;
    width: 33.33%;
}
.infor {
    background-color: rgb(245, 245, 245);
    position: absolute;
    left: 4%;
    top: 83%;
    width: 91%;
    text-align: center;
}


.three_ipad{
    width: 100%;
    margin-top: 6%;
}
.ipad{
    width: 100%;
    
}

.doctiep{

    border-top: 1px solid gray;
    font-size: 13px;
    padding-bottom: 13px;
    padding-top: 4px;

} 

.albumandtext h1{
    font-size: 18px;
    text-align: initial;
    position: relative;
    margin-top: 50px;
    margin-left: -10px;
    font-weight: bold;
    color: green;
    text-decoration-line: underline;
}
.haithanhdoc{
    position: absolute;
    top: -60px;
}
.taisao{
    margin-top: 0;
    font-size: 33px;
    color: white;
    transform: translate(-35px,-8px);
}
.WhychooseBS .container .chooseBS p{
    transform: translate(-22px, -23px);
    font-size: 16px;
    color: white;
}
.WhychooseBS .container .chooseBS .textvleft{
    position: relative;
    font-size: 15px;
    transform: translate(-51px, 5px);
    text-align: end;

}
.WhychooseBS .container .chooseBS .textvright{
    font-size: 15px;
    transform: translate(64px, 9px);
    text-align: start;
}
.textvleft{
    font-size: 15px;
    transform: translate(-58px, 2px);
}
.left2{
    position: relative;
    transform: translate(-3px, 55px);
}
.news{
    position: relative;
    margin-top: 10px;
}
.right2{
    transform: translate(0px, 53px);
}
.bathanhdocduoidichvu{
    transform: translate(0px, 18px);
}
.bathanhdoctrennhomsp{
    margin: 40px 0 0 0;
}
.nhomsp{
    font-size: 33px;
    transform: translate(-4px, -10px);
}
.better .container .makebetter p{
    padding: 65px;
    font-size: 28px;
}
.bathanhdoctrencomment{
    transform: translateY(-50px);
}
.ykienphanhoi{
    font-size: 33px;
    transform: translateY(-64px);
}
.khachhang{
    margin-top: 23px;
    font-size: 14px;
    padding: 0 0 64px 0;
}
.bathanhdoccuoikhachhang{
    transform: translateY(12px);
    margin-top: 50px;
}
.bathanhdocdaunews{
    transform: translateY(-31px);
    margin: -3px;
}
.contentnews{
    transform: translateY(-53px);
    font-size: 34px;
}
.dateyear{
    font-size: 12px;
    margin-top: 22px;
    /* color: white; */
}
.webdevelop{
    font-size: 17px;
    /* color: white; */

}
.during{
    font-size: 12px;
    margin-bottom: 15px;
}
.img{
    position: relative;
    width: 100%;
    height: 240px;
    
    /* transform: translate(90px, -15px); */
}
.recruitment_news{
   

}

.lastsection{
    background-image: url('./png/background_container9.PNG');
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover
}
.recruitment_news{
    margin-top: 143px;
    text-align: center;
    height: 730px;
}
.h1lastsection{
    transform: translate(0px,80px);

    font-size: 33px;
    color: white;
}
.lastimg {
    position: relative;
    width: 33%;
    transform: translate(300px, -96px);
}
.ullastsection{
    transform: translate(83px, 141px);
    color: white;
    /* list-style-image:url('./png/tam.PNG'); */
    list-style: none;
    width: 40%;
}
.lastsection .container .recruitment_news .ullastsection li{
    margin-top: 15px;
    text-align: start;
    font-size: 13px;
    display: flex;
}
.imgtam{
    margin-right: 10px;
}
.btn_gia_nhap{
    display: inline-block;
    margin: auto;
    color: white;
    font-size: 13px;
    padding: 11px;
    width: 182px;
    background-image: linear-gradient( #086b26, #0cb04f);
    border: none;
    border-radius: 23px;
    /* transform: inherit; */
    transform: translate(-352px, -298px);
}

    .chuB {
        position: relative;
        transform: translateY(-60px);
        z-index: 3;
    }

 footer{
    background:#1f2732;
}

.footer-content{
    text-align: center;
    
}
.footer-contact ul{
    list-style: none;
    display:flex;
     justify-content:center;
}
.footer-contact ul li
{
    list-style: none;
    display:flex;
    margin:0 40px;
    align-items:center;
    
}
.footer-contact ul li img{
    height:fit-content;
    transform:translateY(2px);
}
.footer-contact ul li p{
    margin-left:14px;
    font-family:'Myriad Pro';
    font-size:17px;
    color:rgba(255,255,255,0.8);
}
.footer-social{
    margin-top:40px;
    margin-bottom:50px;
}
.footer-social ul{
    list-style: none;
    display:flex;
    justify-content:center;
}
.footer-social ul li{
    margin:0 10px;
    color:white;
}
.copyright{
    border:1px solid #263953;
}
.copyright p{
    padding:20px 0 42px 0;
    font-family: 'Open Sans', sans-serif;
    color:rgba(255,255,255,0.7);
    text-align: center;
    font-size:13px;
}
.footer__content--logo{
    transform: translateY(30px);
}
.footer-desc{
    margin-top: 55px;
    font-size: 13px;
    color: white;
}
.lil_image1:hover{
    background-image: url(./png/imgandcirclewhite2.PNG);
    background-color: #2ed573;
    color: white;
}
.lil_image2:hover{
    background-image: url(./png/imgandcirclewhite1.PNG);
    background-color: #2ed573;
        color: white;
}
.lil_image3:hover{
    background-image: url(./png/imgandcirclewhite3.PNG);
    background-color: #2ed573;
    color: white;
}
.lil_image4:hover{
    background-image: url(./png/imgandcirclewhite4.PNG);
    background-color: #2ed573;
    color: white;
}
 
    
    .infor:hover{
        background-color: #2ed573;
        color: white;
    }
    /* .webdevelop:hover{
        color: white;
    } */
    .item-slider
    {
        align-items: center; 
        text-align: center;
    } 
.slick-prev{
    position: absolute;
    top: 59%;
    left: -34px;
    transform: translateY(-50%);
    background-color: white;
    color: white;
    border: none;
    z-index: 2;
    padding: 10px 20px;
    width: 40px;
    height: 40px;
}
.slick-next{
    position: absolute;
    top: 59%;
    right: -23px;

    transform: translateY(-50%);
    background-color:white;
    color: white;
    border: none;
    z-index: 2;
    padding: 10px 20px;
    width: 40px;
    height: 40px;
}
.slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-78%,214%);
    display: flex !important;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.iphone img{
    width: 20%;
    margin-top: 3%;
}
.slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #eee;
    border: none;
    outline: none;
}
.footer{
    clip-path: polygon(50% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
    margin-top: -5%;
    padding: 5%;
}
.slick-dots .slick-active button{
    background-color: #2ed573;
}
/* .lil_image1 .active {
    background-color: red;
  } */
  .slick-slider .slick-track, .slick-slider .slick-list{
    margin-top: -66px;
    padding-top: 66px !important;
  } 

  .tabcontent{
      display: none;
  }
  .WhychooseBS{
    background-image: url(./png/backgroundwhychoose.PNG);
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
     position: relative;
    margin-top: -129px;
    padding-top: 10% 0 0% 0;
    padding: 10% 0 5% 0;
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
  }
  .product{
      background-image: url('./png/backgroundproduct.PNG');
     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5%;
  }
  /* .fiximg{
    position: relative;
    width: 93%;
    transform: translate(37px, -15px);
  } */
  @media only screen and (min-width: 1201px) {
    .container {
      max-width: 1140px;
    }
  }
  @media only screen and (max-width: 1200px) and (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    .middle .container p {
        font-size: 40px;
        font-weight: bold;
        /* margin: 143px; */
        color: white;
        margin-top: 11%;
    }
    .album{
        width: 44%;
    height: 440px;
    gap: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-71%);
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: 160px 160px;
    background-color: rgb(255, 255, 255);
    padding: 45px;
    left: 5%;
    z-index: 2;
    }
    .horse {
        position: absolute;
        top: 51%;
        left: 59%;
        width: 38%;
    }
    .lil_image1 p {
        margin-top: 8px;
        font-weight: bold;
        font-size: 13px;
    }
   
    .hero .logobytesoft .container ul {
        /* margin: 38px -80px 42px 0px; */
        font-size: 12px;
    }
    .header .container .nav {
        font-size: 11px;
        padding-right: 0px;
        transform: translateX(0px);
    }
    
.anhipad1 {
    bottom: 0;
    position: absolute;
    z-index: 2;
    width: 30%;
    transform: translate(-614px,1px);
}
.anhipad2 {
    position: absolute;
    bottom: 0;
    width: 29%;
    z-index: 2;
    transform: translate(-19px, 0px);
}
.imgblack {
    position: relative;
    transform: translateX(147px);
    z-index: 1;
}
.content-comment {
    transform: translate(160px, 0px);
    /* position: absolute; */
}
.imgkh {
    position: absolute;
    transform: translate(390px,-62px);
    z-index: 2;
}
.btn_gia_nhap {
    display: inline-block;
    margin: auto;
    color: white;
    font-size: 13px;
    padding: 11px;
    width: 182px;
    background-image: linear-gradient( #086b26, #0cb04f);
    border: none;
    border-radius: 23px;
    /* transform: inherit; */
    transform: translate(-325px, -198px);
}
.chuB {
    transform: translateY(10px);
}


  }
  
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    .iphone img {
        width: 60%;
        margin-top: 3%;
    }
    .anhipad1 {
        bottom: 0;
        position: absolute;
        z-index: 2;
        width: 30%;
        transform: translate(-507px,0px);
    }
    .anhipad2 {
        position: absolute;
        bottom: 0;
        width: 30%;
        z-index: 2;
        transform: translate(-69px, 0px);
    }
    .imgblack {
        width: -5%;
        position: relative;
        transform: translateX(81px);
        z-index: 1;
    }
    .imgkh {
        position: absolute;
        transform: translate(275px,-62px);
        z-index: 2;
    }
    .content-comment {
        transform: translate(45px, 0px);
        /* position: absolute; */
    }
    .item-slider .imgblack img{
        width: 473px;
    }
    .imagetintuc {
        position: relative;
        display: grid;
        width: 100%;
        grid-gap: 120px;
        /* grid-template-columns: 1fr; */
        /* grid-auto-rows: 270px 270px 270px; */
        /* transform: translateX(100px); */
    }
    .img {  
        position: relative;
        width: 720px;
        height: 301px;
        object-fit: cover;
        /* transform: translate(90px, -15px); */
    }
    .infor {
        background-color: #f5f5f5;
        position: absolute;
        left: 24%;
        top: 75%;
        width: 250%;
        text-align: center;
        /* left: 4%; */
    }
    .chuB {
        transform: translateY(46px);
    }
    .left {
        width: 60%;
        position: absolute;
        left: -4%;
        top: 15%;
    }
    .textleft {
        text-align: end;
        margin-bottom: 3%;
        font-size: 16px;
        transform: translate(-60px, 0px);
    }
    .iphone{
        
            transform: translate(430px, 0px);
            width: 55%;
            /* height: 160%; */
        
    }
    .lil_image2 p{
        font-size: 12px;
    }
    .lil_image3 p{
        font-size: 12px;
    }
    .lil_image4 p{
        font-size: 12px;
    }
    .right {
        width: 30%;
        position: absolute;
        right: 0%;
        top: 29%;
    }
    .album {
        width: 55%;
        height: 400px;
        grid-gap: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-73%);
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 155px 155px;
        background-color: #fff;
        padding: 45px;
        left: -13%;
        z-index: 2;
    }
    .icon_albumandtext {
        /* border-radius: 50%;
        border: 2px dotted #2f6a16;
        padding: 26px;
        margin-top: 12px; */
    }
    .icon_albumandtext:hover{
        border: 2px dotted white;
        border-radius: 50%;
       
        padding: 26px;
        margin-top: 12px;
    }
    .lil_image1 p {
        margin-top: 16px;
        font-weight: bold;
        font-size: 12px;
    }
    .text_album {
        width: 100%;
        position: absolute;
        border: 0px dotted #0F1C3F;
        top: 32%;
        /* right: -14%; */
        /* height: 66%; */
        display: block;
    }
    .text_padding {
        margin-left: 16%;
        margin-top: 4%;
    }
    .text_english {
        text-align: initial;
        font-size: 13px;
    }
    .albumandtext h1 {
        font-size: 14px;
        text-align: initial;
        position: relative;
        margin-top: 50px;
        margin-left: -10px;
        font-weight: bold;
        color: green;
        text-decoration-line: underline;
    }
    .ykienphanhoi {
        font-size: 30px;
        transform: translateY(-64px);
    }
    .logo {
        position: absolute;
        top: 25%;
        left: 0%;
    }
    .hero .logobytesoft .container ul { 
        /* margin: 0px 0px 0px 0; */
        font-size: 12px;
        position: relative;
        transform: translateX(126px);
    }
    .middle .container p {
        font-size: 30px;
        font-weight: bold;
        /* margin: 143px; */
        color: white;
        margin-top: 11%;
    }
    .middle .container h1 {
        font-size: 75px;
        color: white;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 47px;
    }
    .header .container .nav {
        font-size: 11px;
        /* padding-right: 1px; */
        position: relative;
        transform: translateX(122px);
    }
    .album {
        width: 100%;
        height: 250px;
        grid-gap: 18px;
        position: absolute;
        top: 33%;
        transform: translateY(-90%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
        background-color: #fff;
        /* padding: 45px; */
        left: 0%;
        z-index: 2;
    }
    .icon_albumandtext {
        /* border-radius: 50%;
        border: 2px dotted #2f6a16;
        padding: 26px;
        margin-top: 12px; */
    }
    .lil_image1 p {
        margin-top: 7px;
        font-weight: bold;
        font-size: 12px;
    }
    .horse {
        position: absolute;
        top: 34%;
        left: 43%;
        width: 36%;
    }
    .ullastsection {
        transform: translate(-75px, 85px);
        color: white;
        /* list-style-image: url(./png/tam.PNG); */
        list-style: none;
        width: 61%;
    }
    .lastsection .container .recruitment_news .ullastsection li {
        margin-top: 15px;
        text-align: start;
        font-size: 17px;
        display: flex;
    
  }
  .btn_gia_nhap {
    display: inline-block;
    margin: auto;
    color: white;
    font-size: 13px;
    padding: 11px;
    width: 182px;
    background-image: linear-gradient( #086b26, #0cb04f);
    border: none;
    border-radius: 23px;
    /* transform: inherit; */
    transform: translate(-300px, -181px);
}
.chuB {
    transform: translateY(-30px);
}
.lastimg {
    position: relative;
    width: 40%;
    transform: translate(243px, -150px);
}
.ipad1 {
    width: 50%;
    position: relative;
    z-index: 3;
    transform: translate(-1px, 5px);
}
.left2 {
    position: relative;
    transform: translate(0px, 0px);
}
.right {
    width: 60%;
    position: absolute;
    /* right: 0%; */
    top: 50%;
    left: -11%;
}
.textright {
    text-align: end;
    margin-bottom: 2%;
    font-size: 16px;
     transform: translate(0px, 0px); 
}
.iconright {
    /* top: -5%; */
    margin-left: 43%;
    position: absolute;
    transform: translate(-33px, -3px);
}
.WhychooseBS .container .chooseBS .textvright {
    font-size: 15px;
    transform: translate(0px, 9px);
    text-align: end;
}
.right2 {
    transform: translate(0px, 20px);
}
 .nav-item {
    display: none;

} 
nav #icon{
    display: block;
}

.hero .logobytesoft .container ul {
    position: fixed;
    width: 98%;
    /* height: 77vh; */
    background: forestgreen;
    top: 88px;
    left: 90%;
    text-align: center;
    z-index: 10;
    display: grid;
    list-style: none;
    transition: all .5s;
}
.hero .logobytesoft .container ul.show{
    left:-12%;
}
/* .hero .logobytesoft .container ul li{
    display: block;
} */
}

  @media only screen and (max-width: 767px) and (min-width: 576px) {
    .container {
      max-width: 540px;
    }
    
  }